.stage {
    width: 300px;
    height: 300px;
    // margin-left: 12px;
    margin-top: -130px;
    display: inline-block;
    perspective: 1200px;
    perspective-origin: 50% 50%;
    opacity: 0.8;
    // background-color: blue;
  }

  .circle {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 3px;
    background-color: black;
    filter: blur(10px);
  }

  .ball {
    display: inline-block;
    width: 140px;
    height: 140px;
    margin: 0;
    border-radius: 50%;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    background: url('./images/disco-ball-wrapper.jpg');
    background: url('./images/dancers-with-disco-ball.png');
    background-size: auto 100%;
    -webkit-animation: move-disco-ball 30s infinite linear;
    -moz-animation: move-disco-ball 30s infinite linear;
    -o-animation: move-disco-ball 30s infinite linear;
    -ms-animation: move-disco-ball 30s infinite linear;
    animation: move-disco-ball 30s infinite linear;
  }

//  shadow on the sphere
  .ball:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 80%, #ffffff, rgba(255, 255, 255, 0) 58%);
    filter: blur(25px);
    box-shadow: -40px 10px 70px 10px rgba(0,0,0,0.5) inset;
    z-index: 2;
  }
  
  //  shadow above the sphere
  .ball:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 35px;
    left: 25px;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
  }

  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgb(255, 255, 255), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: 1;
  }

  @-moz-keyframes move-disco-ball {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }
  
  @-webkit-keyframes move-disco-ball {
    0% {
      background-position: 0 0; }
    100% {
      background-position: -849px 0; }
  }
  
  
  @-o-keyframes move-disco-ball {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }
  
  @-ms-keyframes move-disco-ball {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }
  
  @keyframes move-disco-ball {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }

