$myfont: Atma;

@keyframes move {
    100% {
      transform: translate3d(0, 0, -1000px);
    }
  }
  
  .bubble-wrap {
    margin: 0 auto;
    height: 800px;
    transform-style: preserve-3d;
    transform-origin: center center;
  }
  .bubble {
    position: absolute;
    background: black;
    border-radius: 50%;
    animation: move 6s infinite;
    display: none;
    
  }
  
  @for $i from 1 through 100 {
    .bubble:nth-child(#{$i}){
       $size: random(80)+px;
       height: $size;
       width: $size;
       animation-delay: -$i * .2s;
       transform: translate3d( (random(1000) * 1px),  (random(1000) * 1px), (random(2000) * 1px));
       background: hsl( random(71) , 80%, 50%);
    }
   
  }

  #hero {
    padding: 32px;
    background-color: black;
    color: #dddddd;
    width: 100%;
    height: auto;
    position: relative;
    transform-style: preserve-3d;
    // background-image: url('./images/hero-background.jpg');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // background-size: contain;
    overflow: scroll;
  }
  
  #record-container,
  #show-container {
    position: absolute;
    // border: 1px solid white;
    
  }

  #show-container {
      text-align: center; 
  }

  #show-container h1 {
    font-family: $myfont;
    font-size: 50px;
  }

  #show-container h2 {
    font-family: $myfont;
    font-size: 40px;
  }

  #show-container h3 {
    font-family: $myfont;
    font-size: 32px;
  }

  #show-container p {
    font-family: $myfont;
    font-size: 21px;
    line-height: 24px; 
  }
  
  #record-player,
  #record-playhead {
    position: absolute;
    bottom: 75px;
  }
  
  #record-vinyl {
    position: absolute;
    left: 65px;
    bottom: 125px;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
    /* height: 40vmin; */
    pointer-events: none;
  }

  #back-image {
    position: absolute;
    right: 30%;
    opacity: 0.33;
    border-radius: 50%;

  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* ............................................ max width 600px */
  @media only screen and (max-width: 600px) {

    #show-container {
      width: 100%;
      right: 0;
      top: 100px;
    }

   .bubble-wrap {
      width: 50%;
      transform-origin: center top;
      perspective: 100px;
      margin-top: -350px;
      // height: 1200px;
    }
  }

  /* ............................................ min width 601px */
  @media only screen and (min-width: 601px) {

    #hero {
      height: auto;
    }

    #show-container {
      width: 100%;
      right: 0px;
      top: 100px;
    }

    #record-player,
    #record-playhead {
      height: 407px;
      width: 500px;
      bottom: 10px;
    }

    #record-vinyl {
      height: 320px;
      width: 320px;
      left: 65px;
      bottom: 60px;
    }

    .bubble-wrap {
      width: 50%;
      perspective: 2000px;
    }
    .bubble {
      opacity: .4;
      
    }
  }
  /* ............................................ max width 992px */
  @media only screen and (max-width: 992px) {
  #record-container {
    display: none;
  }
}

  /* ............................................ min width 992px */
  @media only screen and (min-width: 992px) {
    #record-container {
      display: block;
      height: 500px;
      width: 100%;
      z-index: -1;
      bottom: 180px;
    }

    #show-container {
      width: 50%;
      right: 30px;
      top: 120px;
    }

    .bubble-wrap {
      width: 80%;
      perspective: 2000px;
    }
    .bubble {
      opacity: .2;
      
    }
  }

  /* ............................................ min width 1200px */
  @media only screen and (min-width: 1200px) {
    .bubble-wrap {
      width: 60%;
      transform-origin: center center;
      perspective: 3600px;
    }
    .bubble {
      opacity: .6;
      animation: move 6s infinite;
    }
  }

  /* ............................................ min width 1800px */
  @media only screen and (min-width: 1800px) {

    #record-container {
      height: 500px;
      width: 600px;
      z-index: -1;
      bottom: 0;
    }

    #record-player,
    #record-playhead {
      height: 488px;
      width: 600px;
      bottom: 75px;
    }

    #record-vinyl {
      height: 392px;
      width: 392px;
      left: 65px;
      bottom: 125px;
    }

    #show-container {
      width: 500px;
      right: 250px;
      top: 125px;
  }
  }




  