$myfont: Atma;


  #hero {
    color: #dddddd;
    width: 100%;
    height: auto;
    // background-color: white;
    // display: none;
  }

  #record-container {
  // background-color: red;
  }

  #record-container > div {
    // position: relative;
    // overflow: hidden;
    // margin: 0 auto;
    // background-color: green;
  }

  #show-container {
      text-align: center;
      // height: 650px;
      // background-color: blue;
  }

  #show-container h1 {
    font-family: $myfont;
    font-size: 28px;
  }

  #show-container h2 {
    font-family: $myfont;
    font-size: 25px;
  }

  #show-container h3 {
    font-family: $myfont;
    font-size: 24px;
  }

  #show-container h4 {
    font-family: $myfont;
    font-size: 22px;
  }

  #show-container p {
    font-family: $myfont;
    font-size: 20px;
    line-height: 24px; 
  }
  

  /* ............................................ max width 600px */
  @media only screen and (max-width: 600px) {

  }

  /* ............................................ min width 601px */
  @media only screen and (min-width: 601px) {

    #hero {
      height: auto;
    }

  }
  /* ............................................ max width 992px */
  @media only screen and (max-width: 991px) {
  #record-container {
    display: none;
  }

  #show-container {
    width: 100%;
    margin-top: 80px;
  }
}

  /* ............................................ min width 992px */
  @media only screen and (min-width: 992px) {

    
    #record-container,
    #show-container {
      float: left;
      width: 50%;
      margin-top: 70px;
    }

    #record-container {
      position: relative;
      height: auto;
      // overflow: hidden;
      padding: 50px 0;
      // background-color: yellow;
    }

    #record-container > div {
      position: fixed;
      overflow: hidden;
      margin: 0 auto;
      height: 325px;
      width: 400px;
      position: fixed;
      bottom: 72px;
      margin-left: 15%;
      // background-color: red;
    }

    #record-player,
    #record-playhead,
    #record-vinyl {
      position: absolute;
      top: 0;
    }

    #record-player,
    #record-playhead  {
      height: 325px;
      width: 400px;
      opacity: 0.6;
    }
  
    #record-vinyl {
      height: 263px;
      width: 263px;
      left: 41px;
      top: 30px;
    }

    #show-container {
      height: auto;
      width: 50%;
      // background-color: blue;
    }
  }

  /* ............................................ min width 1200px */
  @media only screen and (min-width: 1245px) {
    
    
  }

  /* ............................................ min width 1800px */
  @media only screen and (min-width: 1800px) {

    
  }




  