$myfont: Atma;

@keyframes move {
    100% {
      transform: translate3d(0, 0, -1000px);
    }
  }
  
  .bubble-wrap {
    margin: 0 auto;
    // height: 800px;
    transform-style: preserve-3d;
    transform-origin: center center;
  }
  .bubble {
    position: absolute;
    background: black;
    border-radius: 50%;
    animation: move 6s infinite;
    display: none;
    
  }
  
  @for $i from 1 through 100 {
    .bubble:nth-child(#{$i}){
       $size: random(80)+px;
       height: $size;
       width: $size;
       animation-delay: -$i * .2s;
       transform: translate3d( (random(1000) * 1px),  (random(1000) * 1px), (random(2000) * 1px));
       background: hsl( random(71) , 80%, 50%);
    }
   
  }

  #hero {
    color: #dddddd;
    width: 100%;
    height: auto;
    // transform-style: preserve-3d;
    background-color: black;
  }

  #record-container {
    // background-color: red;
  }

  #record-container > div {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    // background-color: green;
  }

  #show-container {
      text-align: center;
      height: 650px;
      overflow: scroll;
  }

  #show-container h1 {
    font-family: $myfont;
    font-size: 50px;
  }

  #show-container h2 {
    font-family: $myfont;
    font-size: 40px;
  }

  #show-container h3 {
    font-family: $myfont;
    font-size: 32px;
  }

  #show-container p {
    font-family: $myfont;
    font-size: 21px;
    line-height: 24px; 
  }
  
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
    /* height: 40vmin; */
    pointer-events: none;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* ............................................ max width 600px */
  @media only screen and (max-width: 600px) {

    #show-container {
      width: 100%;
      right: 0;
      top: 100px;
    }

   .bubble-wrap {
      width: 50%;
      transform-origin: center top;
      perspective: 100px;
      margin-top: -350px;
      // height: 1200px;
    }
  }

  /* ............................................ min width 601px */
  @media only screen and (min-width: 601px) {

    #hero {
      height: auto;
    }

    #show-container {
      width: 100%;
    }

    // .bubble-wrap {
    //   width: 50%;
    //   perspective: 2000px;
    // }
    // .bubble {
    //   opacity: .4;
      
    // }
  }
  /* ............................................ max width 992px */
  @media only screen and (max-width: 991px) {
  #record-container {
    display: none;
  }

  #show-container {
    width: 100%;
    margin-top: 80px;
  }
}

  /* ............................................ min width 992px */
  @media only screen and (min-width: 992px) {

    #record-container,
    #show-container {
      float: left;
      width: 50%;
      margin-top: 70px;
    }

    #record-container {
      position: relative;
      height: auto;
      overflow: hidden;
      padding: 50px 0;
    }

    #record-container > div {
      height: 386px;
      width: 475px;
      position: fixed;
      margin-left: 5%;
    }

    #record-player,
    #record-playhead,
    #record-vinyl {
      position: absolute;
      top: 0;
    }

    #record-player,
    #record-playhead  {
      height: 386px;
      width: 475px;
    }
  
    #record-vinyl {
      height: 308px;
      width: 308px;
      left: 55px;
      top: 40px;
    }

    #show-container {
      height: auto;
      width: 50%;
      // background-color: blue;
    }

    .bubble-wrap {
      width: 30%;
      perspective: 7000px;
      margin-left: -100px;
    }
    .bubble {
      opacity: .8;
      
    }
  }

  /* ............................................ min width 1200px */
  @media only screen and (min-width: 1245px) {
    
    #record-container > div {
      height: 488px;
      width: 600px;
    }

    #record-vinyl {
      left: 65px;
      top: 45px;
      height: 318px;
      width: 318px;
    }

    #record-player,
    #record-playhead  {
      height: 407px;
      width: 500px;
    }

    #record-container > div {
      margin-left: 10%;
    }
  }

  /* ............................................ min width 1800px */
  @media only screen and (min-width: 1800px) {

    
  }




  