#payments {
    height: auto;
    margin-bottom: 100px;
}

#payment-container {
    margin-top: 50px;
    font-family: Atma;
    font-size: 19px;
    padding-bottom: 30px;
    // background-color: beige;
}

#payment-container form {
    width: 350px;
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #666562;
    // background-color: red;
}

.form-options {
    width: 100%;
    // background-color: green
}

#credit-card-icons i {
    margin: 0 6px;
}
