.record-spins {
    animation: record-spin infinite 2s linear;
    /* height: 40vmin; */
    pointer-events: none;
  }
  
  @keyframes record-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  #record-player-container {
    height: auto;
    width: 500px;
    background-color: green;
    position: relative;
  }

  #record-player,
    #record-playhead,
    #record-vinyl {
      position: fixed;
    }

    #record-player,
    #record-playhead  {
      height: 325px;
      width: 400px;
      bottom: 100px;
      left: 100px;
    }
  
    #record-vinyl {
      height: 263px;
      width: 263px;
      left: 142px;
      bottom: 132px;
    }